[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "MOGAMUN"]
	path = MOGAMUN
	url = https://github.com/elvanov/mogamun
	shallow = true
	registered = true
